.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #D4D4D4;
}

.logo {
    border-right: 1px solid #D4D4D4;
}