* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #363636;
}

.no-scroll {
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    height: 104px;
    padding-left: 34px;
    border-bottom: 1px solid #D4D4D4;
}

.m-menu {
    height: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.line {
    height: 100%;
    width: 1px;
    background-color: #D4D4D4;
    margin-left: 34px;
}

.search-input {
    background-image: url(../img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center left;
    border: none;
    padding-left: 38px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #A5A5A5;
    margin-left: 34px;
}

.navigation {
    margin-right: 44px;
    margin-left: auto;
}

.navigation-link {
    text-decoration: none;
    color: #363636;
    font-size: 18px;
    line-height: 21px;
    margin-right: 18px;
}

.button-group {
    height: 100%;
    display: flex;
}

.button {
    height: 100%;
    cursor: pointer;
}

.sign-up {
    font-size: 18px;
    line-height: 21px;
    color: #5671F6;
    border: none;
    background-color: #fff;
    padding-left: 34px;
    padding-right: 34px;
    border-left: 1px solid #D4D4D4;
}

.login {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    background-color: #5671F6;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
}

.mobile-buttons {
    display: none;
}

.m-menu-button,
.search-button {
    padding: 5px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.menu-line {
    height: 2px;
    border-radius: 40px;
    background-color: black;
    width: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
    flex-basis: 16px;
    display: block;
}

.container {
    max-width: 1130px;
    margin: auto;
}

.film {
    padding-bottom: 80px;
    padding-top: 80px;
    border-bottom: 1px solid #D4D4D4;
}

.film-wrapper {
    display: flex;
}

.film-trailer {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.poster {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 358px;
}

.trailer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #D4D4D4;
    border-radius: 0px 0px 5px 5px;
    padding-bottom: 25px;
    padding-top: 25px;
    text-decoration: none;
}

.play-icon {
    margin-right: 14px;
    cursor: pointer;
}

.film-title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.26);
    margin-top: 0;
    margin-bottom: 16px;
}

.film-subtitle {
    display: block;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 21px;
    color: #A5A5A5;
}

.film-description {
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 150%;
    width: 514px;
    color: #000000;
}

.about-film {
    display: flex;
    margin-bottom: 50px;
}

.about-text {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 19px;
}

.about-text-bold {
    display: inline-block;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.26);
    width: 100px;
    vertical-align: top;
    font-weight: bold;
}

.left-side {
    margin-right: 40px;
}

.rating {
    display: flex;
}

.rating-counter {
    /* padding: 34px 24px 34px 24px; */
    width: 100px;
    height: 100px;
    border: 1px solid #5671F6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 28px;
    font-size: 28px;
    line-height: 33px;
    color: #5671F6;
}

.rating-title {
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    /* margin-top: 0; */
    margin-bottom: 12px;
}

.rating-text {
    display: block;
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 19px;
}

.rating-text-bold {
    font-weight: bold;
}

.cast {
    padding-top: 70px;
    padding-bottom: 100px;
}

.tabs {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.section-title {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #A5A5A5;
    margin-right: 30px;
}

.section-title.active {
    color: #363636;
    font-weight: 900;
}

.tabs-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    align-items: center;
    flex-basis: 25%;
    margin-bottom: 35px;
}

.card-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.name {
    font-size: 16px;
    line-height: 19px;
    color: #5671F6;
    margin-bottom: 6px;
    margin-top: 0;
}

.en-name {
    color: #A5A5A5;
}

.section-news-title {
    font-weight: 900;
    color: #000000;
    margin-bottom: 65px;
}

.news {
    background-color: #F3F3F3;
    padding-top: 70px;
    padding-bottom: 100px;
}

.news-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-card {
    flex-basis: 23%;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 30px;
}

.news-date {
    font-size: 14px;
    line-height: 16px;
}

.news-title {
    margin-top: 14px;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

@media (max-width:1200px) {
    .container {
        min-width: 900px;
    }
    .film-text {
        width: 358px;
    }
    .film-description {
        width: 358px;
    }
    .card-image {
        width: 70px;
        height: 70px;
    }
    .header {
        height: 90px;
        padding-left: 20px;
        flex-wrap: nowrap;
    }
    .logo {
        margin-left: 20px;
    }
    .sign-up,
    .login {
        padding-left: 20px;
        padding-right: 20px;
    }
    .search-input {
        margin-left: 20px;
    }
    .navigation {
        margin-right: 20px;
    }
    .navigation-link {
        margin-right: 10px;
        font-size: 16px;
    }
}

@media (max-width:991px) {
    .container {
        width: 560px;
    }
    .navigation {
        display: none;
    }
    .film-title {
        font-size: 24px;
        line-height: 1.4;
    }
    .film-subtitle {
        margin-bottom: 20px;
    }
    .film-description,
    .about-film {
        margin-bottom: 30px;
    }
    .search-input {
        margin-right: auto;
    }
    .about-text-bold {
        display: block;
        margin-bottom: 10px;
    }
    .card-image {
        width: 100px;
        height: 100px;
    }
    .card {
        flex-basis: 50%;
    }
    .news-card {
        flex-basis: 48%;
        margin-bottom: 15px;
        width: 315px;
    }
    .swiper-slide.swiper-slide-next {
        width: 280px;
    }
}

@media (max-width:768px) {
    .container {
        min-width: 360px;
    }
    .header {
        height: 80px;
    }
    .m-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        top: 68px;
        right: 0;
        bottom: 0;
        left: 0;
        background: #5671F6;
    }
    .m-menu.active {
        display: flex;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .navigation-link {
        color: #fff;
        margin-bottom: 18px;
        margin-right: 0;
    }
    .navigation-link:last-child {
        margin-bottom: 0;
    }
    .sign-up {
        background-color: transparent;
        color: #fff;
        border: none;
        margin-bottom: 30px;
    }
    .search-input {
        width: 260px;
        height: 50px;
        border-radius: 5px;
        border: none;
        background-image: none;
        margin: 0;
    }
    .button-group {
        height: auto;
        flex-direction: column;
    }
    .film {
        padding-top: 60px;
    }
    .film-wrapper {
        flex-wrap: wrap;
    }
    .film-text {
        order: -1;
        margin-bottom: 30px;
    }
    .cast {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .news {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .mobile-buttons {
        display: block;
        margin-left: auto;
    }
    .line {
        display: none;
    }
    .logo:after {
        display: none;
    }
    /* .button-group {
        display: none;
    } */
    /* .search-input {
        display: none;
    } */
    .header {
        padding-right: 2.5%;
        padding-left: 2.5%;
    }
}

@media (max-width:576px) {
    .container {
        width: 95%;
    }
    .film-trailer,
    .poster {
        width: 100%;
    }
    .film-text {
        order: 1;
        margin-bottom: 0px;
    }
    .film-title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 12px;
    }
    .film-subtitle {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 26px;
    }
    .film-trailer {
        margin-bottom: 30px;
    }
    .film-description {
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 40px;
    }
    .about-text-bold {
        display: inline-block;
    }
    .about-film {
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .card {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .card-image {
        width: 60px;
        height: 60px;
    }
    .tabs {
        margin-bottom: 35px;
    }
    .cast {
        padding-bottom: 50px;
    }
    .news-card {
        flex-basis: 100%;
    }
}